.search-div{
    margin: 10px 0px;
    padding: 10px 20px;
}
input[type=text]{
    width: 240px ;
    height: 30px;
    border: none;
    padding: 0 20px;
}
.changeBackground{
    background-color: rgb(241, 224, 149);
}